@{
  Layout = "_Layout";
}

<div class="w3-container w3-middle">
  <div class="w3-container" align="center">
    <h1>Hair Salon</h1>
    <br>
    <form action="/stylists/new" method="post">
      <label for="new-name">Enter Stylist's Name:</label>
      <input id="new-name" name="new-name" type="text">
      <button type="submit">Save Stylist</button>
    </form>
    <br>
    <p><a href="/">Back to Hair Salon.</a></p>
  </div>
</div>
