@{
  Layout = "_Layout";
}

<div class="w3-container w3-middle">
  <div class="w3-container" align="center">
    <h1>Hair Salon</h1>
    <h2>You just fired @Model.GetStylistName()!!!</h2>

    <h3><a href="/stylists/new">Add Stylist</a></h3>
    <h3><a href="/">Back to Hair Salon.</a></h3>
  </div>
</div>
