@{
  Layout = "_Layout";
}

<div class="w3-container w3-middle">
  <div class="w3-container" align="center">
    <h1>Hair Salon</h1>
    <h2>You just fired all your Stylists!!!</h2>
    <h3><a href="/stylists/new">Add Stylist</a></h3>
    <p>(... but don't think the new ones won't find out what happened last time)</p>
    <h3><a href="/">Back to what's left of Hair Salon.</a></h3>
  </div>
</div>
