@{
  Layout = "_Layout";
}

<div class="w3-container w3-center">
  <div class="w3-container" "w3-center">
    <h2>Client Created!</h2>
    <div "w3-row">
      <div class="w3-half w3-container" align="right">
        <h3>Client</h3>
        @foreach(var client in Model)
        {
          <li>@client.GetClientName()</li>
        }
      </div>
      <div class="w3-half w3-container" align="left">
        <h3>Stylist</h3>
        @foreach(var client in Model)
        {
          <li>@client.GetStylistId()</li>
        }
      </div>
    </div>
      <div class="w3-container">
        <p><a href="/">Back to Hair Salon.</a></p>
      </div>
  </div>
</div>
